<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>All Orders</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
</head>
<body>

	<h1>All Orders</h1>

	<a href="/">Products</a>
	<a href="/orders">Orders</a>

	<% if @orders.count > 50 %>
   		<p>Orders per page: <%= @orders.count %></p>
   	<% else %>
   		<p>Total Orders: <%= @orders.count %></p>
   	<% end %>

  <hr>

	<% if @orders.count > 0 %>
	    <% @orders.each do |order| %>
	      <li>
	      	<p class="attribute"><b>Order ID:</b> <%= order[:id] %></p>
	      	<p class="attribute"><b>Order Status:</b> <%= order[:status] %></p>
	        <p class="attribute"><b>Customer Name:</b> <%= order[:billing_address][:first_name] %> <%= order[:billing_address][:last_name] %></p>
	        <p class="attribute"><b>Customer Email:</b> <%= order[:billing_address][:email] %></p>
	        <p class="attribute"><b>Order Price (w/ tax):</b> <%= order[:subtotal_inc_tax] %></p>
	        <p class="attribute"><b>Order Date:</b> <%= order[:date_created] %></p>
	        <hr>
	      </li>
	    <% end %>
	  <% else %>
	    <li>No Products.</li>
	  <% end %>

</body>
</html>
